<h1>cara 1.0</h1>
<applet code="cara.class" width=400 height=6>
<param name=bgcolor value="#000000">
<param name=speed value="200">
<param name=mode value="1">
</applet>
See getParameterInfo() function for more info.<br>
<a href="cara.java">The Source.</a>. Copyright by Radim Kolar 1999. Licenced under GPL.
<br>Downloaded from <a href="http://ncic.netmag.cz/">NCIC</a>. Have fun.